<config>    
    <modules>
        <Keliop_Logger>
            <version>0.1.0</version>
        </Keliop_Logger>
    </modules>
    <global>
        <resources>
            <keliop_logger_setup>
                <setup>
                    <module>Keliop_Logger</module>
                </setup>
            </keliop_logger_setup>
        </resources>
        <models>
            <keliop_logger>
                <class>Keliop_Logger_Model</class>
                <resourceModel>keliop_logger_resource</resourceModel>
            </keliop_logger>
            <keliop_logger_resource>
                <class>Keliop_Logger_Model_Resource</class>
                <entities>
                    <logger>
                        <table>keliop_logger_logger</table>
                    </logger>
                </entities>
            </keliop_logger_resource>
        </models>
        <events>
            <customer_login>
            <observers>
                <keliop_observe_login>
                    <type>singleton</type>                    
                    <class>Keliop_Logger_Model_Observer</class>
                    <method>customerLogEvent</method>
                </keliop_observe_login>
            </observers>
        </customer_login>
         <customer_logout>
        <observers>
             <keliop_observe_logout>
                    <type>singleton</type>                    
                    <class>Keliop_Logger_Model_Observer</class>
                    <method>customerLogEvent</method>
                </keliop_observe_logout>
        </observers>
    </customer_logout>
        </events>
    </global>
    <frontend>
        <routers>
            <logger>
                <use>standard</use>
                <args>
                    <module>Keliop_Logger</module>
                    <frontName>logger</frontName>
                </args>
            </logger>
        </routers>  
    </frontend>
</config>