<?xml version="1.0"?>
<config>   
    <modules>
        <Kaliop_Logger>
            <version>0.1.0</version>
        </Kaliop_Logger>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kaliop_Logger after="Mage_Adminhtml">Kaliop_Logger</Kaliop_Logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <resources>
            <kaliop_logger_setup>
                <setup>
                    <module>Kaliop_Logger</module>
                </setup>
            </kaliop_logger_setup>
        </resources>
        <models>
            <kaliop_logger>
                <class>Kaliop_Logger_Model</class>
                <resourceModel>kaliop_logger_resource</resourceModel>
            </kaliop_logger>
            <kaliop_logger_resource>
                <class>Kaliop_Logger_Model_Resource</class>
                <entities>
                    <logger>
                        <table>kaliop_logger_logger</table>
                    </logger>
                </entities>
            </kaliop_logger_resource>
        </models>
        <events>
            <customer_login>
                <observers>
                    <kaliop_observe_login>
                        <type>singleton</type>                    
                        <class>Kaliop_Logger_Model_Observer</class>
                        <method>customerLogEvent</method>
                    </kaliop_observe_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <kaliop_observe_logout>
                        <type>singleton</type>                    
                        <class>Kaliop_Logger_Model_Observer</class>
                        <method>customerLogEvent</method>
                    </kaliop_observe_logout>
                </observers>
            </customer_logout>
        </events>
        <helpers>
            <kaliop_logger>
                <class>Kaliop_Logger_Helper</class>
            </kaliop_logger>
        </helpers>
        <blocks>
            <kaliop_logger>
                <class>Kaliop_Logger_Block</class>
            </kaliop_logger>
        </blocks>
    </global>
    <frontend>
        <routers>
            <logger>
                <use>standard</use>
                <args>
                    <module>Kaliop_Logger</module>
                    <frontName>logger</frontName>
                </args>
            </logger>
        </routers>  
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <kaliop_logger>
                    <file>kaliop_logger.xml</file>
                </kaliop_logger>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <kaliop_section>
            <general>
                <logger_enabled>1</logger_enabled>
            </general>
        </kaliop_section>
    </default>
</config>