<?xml version="1.0"?>
<config>
    <tabs>
        <kaliops translate="label">
            <label>Kaliop Logger Configuration</label>
            <sort_order>1050</sort_order>
        </kaliops>
    </tabs>
    <sections>
        <kaliop_section translate="label" module="kaliop_logger">
            <label>General</label>
            <tab>kaliops</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>Logger</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Configuration for Kaliop Logger</comment>
                    <fields>
                        <logger_enabled translate="label comment">
                            <label>Kaliop Logger</label>
                            <comment>Enabled loging user event</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logger_enabled>
                    </fields>
                </general>
            </groups>
        </kaliop_section>
    </sections>
</config>